html,
body,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
samp,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
canvas,
embed,
figcaption,
output,
ruby,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
}

@font-face {
  font-family: Cera Round Pro;
  src: url("./fonts/CeraRoundPro-Thin.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Cera Round Pro;
  src: url("./fonts/CeraRoundPro-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Cera Round Pro;
  src: url("./fonts/CeraRoundPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Cera Round Pro;
  src: url("./fonts/CeraRoundPro-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Cera Round Pro;
  src: url("./fonts/CeraRoundPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Cera Round Pro;
  src: url("./fonts/CeraRoundPro-Black.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("./fonts/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

:root {
  --blue: #4C85AA;
  --beige: #F3F2ED;
  font-family: Cera Round Pro, sans-serif;
}

body {
  background-color: var(--beige);
}

.content-wrap {
  width: 100%;
  /* max-width: 1280px; */
  max-width: 1310px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.index_top {
  background-color: var(--blue);
}

header {
  border-bottom: 16px solid #EAEAEA;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.__no_border {
  border-bottom: none;
  padding-top: 20px;
}

header .content-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

header .logo {
  height: 49.892px;
  width: auto;
  object-fit: contain;
}

header .list {
  display: flex;
  gap: 38px;
  list-style: none;
}

header .list a {
  color: var(--blue);
  /* font-family: Cera Round Pro; */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
}

header .right {
  display: flex;
  gap: 30px;
  align-items: center;
}

header .login {
  padding: 12px 11px;
  border: 1px solid var(--blue);
  border-radius: 200px;
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 31;
}

.cart {
  position: relative;
}

.cart img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cart .item_counter {
  display: none;
  position: absolute;
  top: 5px;
  right: -10px;
  z-index: 1;
  background-color: var(--blue);
  color: #F3F2ED;
  padding: 4px;
  border-radius: 999px;
  font-size: 13.05px;
  min-width: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.cart .item_counter.__visible {
  display: flex;
}

.index_top header .list a {
  color: var(--beige);
}

.index_top .banner {
  position: relative;
  margin-top: 51px;
}

.index_top .banner .img {
  height: 380px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.index_top .heading {
  color: #FFF;
  font-family: Cera Round Pro;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px; /* 122.222% */
  max-width: 680px;
  padding-top: 40px;
  padding-bottom: 70px;
}

.index_top .banner .graphic {
  position: absolute;
  bottom: -150px;
  right: 0px;
}

.index_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 29px 23px;
  margin-top: 35px;
  margin-bottom: 42px;
}

.index_content .block {
  display: grid;
  height: 411px;
  padding: 50px;
  border: 2px solid var(--blue);
  border-radius: 30px;
  padding-bottom: 45px;
  grid-template-columns: 1fr 239px;
  gap: 57px;
  box-sizing: border-box;
}

.index_content .block.__wide {
  grid-column: 1/3;
  grid-template-columns: repeat(2, 1fr);
  gap: 23px;
}

.index_content .block .img {
  width: 100%;
  height: 325px;
  object-fit: cover;
  border-radius: 15px;
  grid-column: 2;
}

.index_content .block .left {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1;
}

.index_content .block .title {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  text-decoration: none;
  margin-bottom: 20px;
}

.index_content .block .about {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 400px;
  width: 100%;
  line-height: 28px;
}

.index_content .block .btn {
  border: none;
  background-color: var(--blue);
  border-radius: 30px;
  width: 160px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--beige);
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-weight: 400;
  margin-top: auto;
}

/* .index_footer {
  border-top: 2px solid var(--blue);
  padding-top: 19px;
  padding-bottom: 24px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.index_footer .logo {
  height: fit-content;
}

.index_footer .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 550px;
}

.index_footer .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  gap: 20px;
}

.index_footer .top .cards {
  display: flex;
  align-items: center;
  gap: 10px;
}

.index_footer .top .socials {
  display: flex;
  gap: 20px;
}

.index_footer .top .cards .card_icon.__mc {
  margin-left: 6px;
}

.index_footer .top .phone {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.index_footer .bottom {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.index_footer .bottom .legal_link {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.index_footer .bottom .copyright {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

footer .list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .list a {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
} */

.mobile_menu_open {
  display: none;
  background: none;
  border: none;
  padding: 0;
}

/* footer .mobile_text {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 190px;
  line-height: 23px;
  margin-top: 20px;
}

footer .mobile_text a {
  color: var(--blue);
  text-decoration: none;
}

.index_footer .mobile_text {
  display: none;
} */


.mobile_menu {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--beige);
  z-index: 10;
  padding: 15px 40px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.4s;
}

.mobile_menu .logo {
  height: 49.892px;
  width: auto;
  object-fit: contain;
}

.mobile_menu.__open {
  display: block;
}

.mobile_menu.__visible {
  opacity: 1;
}

.mobile_menu .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile_menu_close {
  padding: 0;
  background: none;
  border: none;
}

.mobile_menu .list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 67px;
  gap: 21px;
}

.mobile_menu .list a {
  text-decoration: none;
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.mobile_menu .text {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  max-width: 220px;
  margin-bottom: 10px;
}

.mobile_menu .phone {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  margin-bottom: 23px;
}

.mobile_menu .socials {
  margin-top: 16px;
  display: flex;
  gap: 20px;
}

.mobile_menu .socials .link {
  background-color: var(--blue);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.page_top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  margin-top: 72px;
}

.page_top.__no_graphic {
  margin-top: 120px;
}

.page_top .heading {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 55px;
  max-width: 685px;
}

.page_top .heading.__berry_offset {
  margin-bottom: 0px;
}

.big_cards {
  margin-top: 43px;
  margin-bottom: 68px;
}

.divider {
  border: 1px solid var(--blue);
  margin-top: 0;
  margin-bottom: 0;
}

.big_cards .card {
  display: grid;
  grid-template-columns: 1fr 436px;
  gap: 50px;
  padding: 50px;
  padding-bottom: 50px;
  border-radius: 30px;
  border: 2px solid var(--blue);
  margin-bottom: 34px;
}

.big_cards .card .right {
  display: flex;
  flex-direction: column;
}

.big_cards .card .img {
  width: 100%;
  height: 424px;
  object-fit: cover;
  border-radius: 15px;
}

.big_cards .card .title {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

.big_cards .card .info {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  margin-top: 15px;
}

.big_cards .card .info.__bottom {
  margin-top: 30px;
  margin-bottom: 39px;
}

.big_cards .card .price {
  color: #4C85AA;
  font-family: Cera Round Pro;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: 21px;
  display: flex;
  align-items: center;
  gap: 6px;
  background-image: url('./img/ico/ruble.svg');
  background-repeat: no-repeat;
  background-position: right bottom 6px;
  padding-right: 22px;
  width: fit-content;
}

.big_cards .card .price .ruble {
  margin-bottom: 2px;
}

.big_cards .link {
  color: #4C85AA;
  font-family: Cera Round Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.big_cards .card .sale_start {
  border-radius: 50px;
  background: #EAEAEA;
  max-width: 387px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cart_ctl {
  display: flex;
  gap: 20px;
}

.cart_ctl .add {
  color: #FFF;
  font-family: Cera Round Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0;
  border: none;
  background-color: var(--blue);
  border-radius: 30px;
  /* width: 145px;
  height: 70px; */
  padding: 17px 25px;
  height: 70px;
}

.cart_ctl .spinbox {
  border-radius: 30px;
  border: 1px solid #4C85AA;
  padding: 17px 25px;
  display: flex;
  gap: 10px;
}

.cart_ctl .spinbox.__disabled {
  border: 1px solid #BDBDBD;
}

.cart_ctl .spinbox.__disabled .btn {
  color: #BDBDBD;
}

.cart_ctl .spinbox.__disabled .input {
  color: #BDBDBD;
}

.cart_ctl .spinbox .btn {
  background: none;
  border: none;
  font-weight: 400;
  color: var(--blue);
  display: flex;
  align-items: center;
  font-family: Cera Round Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cart_ctl .spinbox .input {
  background: none;
  border: none;
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  width: 30px;
}

.cart_ctl .spinbox input::-webkit-outer-spin-button,
.cart_ctl .spinbox input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart_ctl .spinbox input[type=number] {
  -moz-appearance: textfield;
}

.berry_about {
  margin-top: 43px;
}

.berry_about .heading {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 55px;
  margin-bottom: 11px;
}

.berry_about .text {
  color: var(--blue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  max-width: 300px;
}

.berry_about .text strong {
  font-weight: 500;
}

.berry_about .text.__top {
  max-width: 460px;
  font-size: 18px;
}

.berry_about .secondary {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 40px;
  margin-top: 30px;
}

.berry_about .options {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.berry_about .options .option {
  width: fit-content;
}


.berry_about .options .top {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 55px;
}

/* .main_footer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 45px;
  padding-bottom: 44px;
  border-top: 2px solid var(--blue);
}

.main_footer .questions {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 200px;
  line-height: 22px;
}

.main_footer .questions a {
  color: var(--blue);
  text-decoration: none;
}

.main_footer .socials {
  display: flex;
  gap: 12px;
} */

.page_top .cart {
  display: none;
}

.sort_toggle_line {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 38px;
}

.sort_toggle_line .toggle {
  background: none;
  border: none;
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

.sort_toggle_line .toggle:hover {
  border-bottom: 2px solid rgba(76, 133, 170, 0.5)

}

.sort_toggle_line .toggle.__active {
  border-bottom: 2px solid var(--blue);
  font-weight: 400;
}

.sort_toggle_small {
  display: flex;
  gap: 14px;
  margin-top: 35px;
}

.sort_toggle_small .toggle {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
  padding: 12px 14px;
  border: none;
  border-radius: 30px;
}

.sort_toggle_small .toggle:hover {
  background: rgba(76, 133, 170, 0.2);
}

.sort_toggle_small .toggle.__active {
  background-color: var(--blue);
  color: var(--beige);
}

.catalog_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 24px;
  margin-top: 36px;
  margin-bottom: 51px;
}

.catalog_cards .card {
  padding: 24px 27px;
  box-sizing: border-box;
  border: 2px solid var(--blue);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.catalog_cards .card .img {
  width: 100%;
  height: 217px;
  object-fit: cover;
  border-radius: 15px;
}

.catalog_cards .card .name {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 102.2%;
  text-decoration: none;
  display: block;
  margin-top: 28px;
}

.catalog_cards .card .info {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.catalog_cards .card .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.catalog_cards .card .price {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.catalog_cards .card .more_btn {
  text-decoration: none;
  color: var(--beige);
  text-align: center;
  font-family: Cera Round Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 141px;
  height: 70px;
  border-radius: 30px;
}

.about_text {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 125%;
}

.about_text.__top {
  margin-top: 62px;
  max-width: 405px;
}

.about_top {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.about_top .top_img {
  height: 296px;
  width: 548px;
  object-fit: cover;
  border-radius: 15px;
}

.about_middle {
  display: flex;
  gap: 20px;
  padding-left: 121px;
  width: 100%;
  margin-top: 67px;
}

.about_middle .card {
  display: flex;
  gap: 20px;
}

.about_middle .card .img {
  aspect-ratio: 1/1;
  object-fit: cover;
  height: 171px;
  border-radius: 15px;
}

.about_middle .card .about_text {
  margin-top: 16px;
  max-width: 265px;
}

.about_bottom {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding-top: 148px;
  margin-bottom: 83px;
  overflow-x: hidden;
}

.about_bottom .left {
  position: relative;
}

.about_bottom .right {
  padding-right: 120px;
}

.about_bottom .graphic {
  position: absolute;
  top: 0px;
  right: -186px;
}

.about_bottom .about_text {
  max-width: 378px;
  margin-top: 18px;
}

.about_bottom .map_wrap {
  width: 436px;
  height: 328px;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 25px;
}

.about_bottom .bigger {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
}

.about_bottom .big {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 102.2%;
  width: 381px;
}

.about_bottom .right {
  margin-top: auto;
}

.about_bottom .socials {
  display: flex;
  gap: 57px;
  margin-top: 40px;
}

.about_bottom .social {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  gap: 8px;
}

.top_link {
  margin-top: 56px;
}

.top_link .link {
  text-decoration: none;
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 16px;
  font-weight: 400;
}

.product_card {
  display: grid;
  grid-template-columns: 680px 1fr;
  gap: 0 30px;
  margin-top: 25px;
  margin-bottom: 60px;
}

.product_card .images {
  grid-column: 1;
  grid-row: 1/3;
  position: relative;
  height: fit-content;
}

.product_card .images .slider_ctl {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background: none;
  border: none;
}

.product_card .images .slider_ctl.__back {
  left: 30px;
}

.product_card .images .slider_ctl.__next {
  right: 30px;
}

.product_card .images .card_main_slider {
  border-radius: 15px;
}

.product_card .images .card_thumbs {
  margin-top: 14px;
}

.product_card .cart_ctl {
  margin-top: 30px;
}

.product_card .images .thumb {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
}

.product_card .images .slide {
  width: 100%;
  height: 556px;
  object-fit: cover;
}

.product_card .name {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 50px;
  font-weight: 500;
  line-height: 55px;
  margin-bottom: 30px;
}

.product_card .like_btn {
  background: none;
  border: none;
  padding: 0;
}

.product_card .line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_card .size_label {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;
}

.product_card .text {
  color: var(--blue, #4C85AA);
  font-family: Cera Round Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 30px;
}

.product_card .order_size {
  -webkit-appearance: none;
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--beige);
  border-radius: 15px;
  border: 1px solid #4C85AA;
  padding: 13px 25px;
  min-width: 144px;
  background-image: url('./img/ico/down_arrow.svg');
  background-repeat: no-repeat;
  background-position: right 25px center;
  padding-right: 50px;
}

.product_card .order_size.__disabled {
  border: 1px solid #BDBDBD;
  color: #BDBDBD;
  background-image: url('./img/ico/down_arrow_grey.svg');
}

.product_card .price {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 30px;
  font-weight: 500;
}

.product_card .info {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 16px;
  font-weight: 300;
  line-height: 125%;
  max-width: 420px;
}

.product_card .info_heading {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

.yagoda_map_wrap .inner {
  width: 100%;
  height: fit-content;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 63px;
  margin-bottom: 73px;
  padding: 0;
  height: 626px;
}

.product_info .title {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 55px;
  max-width: 740px;
}

.product_info .reasons_box {
  border-radius: 20px;
  background: #EAEAEA;
  width: 100%;
  display: flex;
  padding: 40px 48px;
  box-sizing: border-box;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 60px;
}

.product_info .reasons_box .reason {
  display: flex;
  align-items: center;
  gap: 16px;
}

.product_info .reasons_box .number {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 100px;
  font-weight: 400;
  line-height: 55px;
}

.product_info .reasons_box .text {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 115% */
}

.product_info .video_embed {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 80px;
}

.reviews {
  margin-top: 60px;
  margin-bottom: 80px;
}

.reviews .title {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
}

.reviews .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 38px;
}

.reviews .link_all {
  color: #FFF;
  font-family: Cera Round Pro;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  background-color: var(--blue);
  border-radius: 50px;
  padding: 17px 25px;
}

.reviews .cards .controls {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-top: 40px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.reviews .cards .controls .control {
  background: none;
  border: none;
  padding: 0;
}

.reviews .cards .card {
  background-color: #FFF;
  padding: 25px;
  border-radius: 20px;
  border: 2px solid #4C85AA;
}

.reviews .cards .card .stars .star.__hollow path {
  fill: none;
  stroke: var(--blue);
}

.reviews .cards .card .title {
  color: var(--blue, #4C85AA);
  font-family: Cera Round Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.reviews .cards .card .text {
  color: var(--blue, #4C85AA);
  font-family: Cera Round Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 10px;
}

.reviews .cards .card .link {
  color: var(--blue, #4C85AA);
  font-family: Cera Round Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 187.5% */
  text-decoration-line: underline;
}

footer .top {
  border-top: 2px solid var(--blue);
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 56px;
}

footer .logo_wrap {
  margin-top: 5px;
}

footer .cards {
  display: flex;
  gap: 21px;
}

footer .cards .card_icon {
  height: 12px;
  margin-top: 10px;
}

footer .cards .card_icon.__mc {
  height: 19px;
}

footer .list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .list a {
  color: var(--blue);
  font-family: Cera Round Pro ;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

footer .socials {
  display: flex;
  gap: 30px;
}

footer .bottom {
  background: #EAEAEA;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}

footer .bottom .content {
  display: flex;
  gap: 134px;
  justify-content: flex-end;
}

footer .legal {
  color: var(--blue);
  font-family: Cera Round Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer .copyright {
  color: var(--blue);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.reviews .link_all.__mobile {
  display: none;
}

@media (max-width: 1260px) {
  .index_content {
    display: flex;
    flex-direction: column;
  }

  .index_content .block.__wide {
    grid-template-columns: 1fr 239px;
  }

  .about_bottom .right {
    padding-right: 0;
  }

  .index_top .banner .graphic {
    width: 332px;
    height: 267px;
    bottom: -173px;
  }

  .product_card {
    grid-template-columns: 500px 1fr;
  }
}

@media (max-width: 1120px) {
  .product_info .reasons_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px 10px;
  }
}

@media (max-width: 1090px) {
  .index_top .heading {
    padding-top: 90px;
  }

  .index_top .banner .graphic {
    bottom: -100px;
  }
}

@media (max-width: 1060px) {
  footer .top {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }

  footer .logo_wrap {
    grid-row: 1;
  }

  footer .socials {
    grid-row: 1;
    grid-column: 2;
    align-items: center;
  }

  footer .list {
    grid-column: 1/3;
    align-items: center;
  }

  footer .list.__contact {
    grid-row: 2;
    margin-top: 10px;
  }

  footer .list.__nav{
    grid-row: 3;
  }

  footer .cards {
    grid-column: 1/3;
    grid-row: 4;
    justify-self: center;
  }

  footer .bottom .content {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}

@media (max-width: 979px) {
  /* .index_footer .logo_wrap {
    display: none;
  }

  .index_footer .bottom {
    display: none;
  }

  .index_footer .right {
    flex-grow: 0;
  }

  .index_footer .top {
    margin-top: 0;
  }

  .index_footer .top .cards {
    display: none;
  }

  .index_footer .top .phone {
    display: none;
  }

  .index_footer .mobile_text {
    display: block;
  }

  .index_footer .top .socials {
    gap: 12px;
  }

  .main_footer .logo_wrap {
    display: none;
  } */

  /* .big_cards .card {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .big_cards .card .price {
    margin-top: 20px;
  }

  .big_cards .card .img {
    height: 300px;
  } */

  .big_cards .card {
    display: flex;
    flex-direction: column;
  }

  .big_cards .card .right {
    display: grid;
    grid-template-columns: 1fr 150px
  }

  .big_cards .card .price {
    grid-column: 2;
    grid-row: 1;
    justify-self: flex-end;
    align-self: center;
    margin-bottom: auto;
  }

  .big_cards .card .info {
    grid-column: 1/3;
  }

  .big_cards .card .cart_ctl {
    grid-column: 1/3;
  }

  .big_cards .card .sale_start {
    grid-column: 1/3;
    max-width: 100%;
    width: 100%;
  }

  .big_cards .card .info {
    margin-bottom: 20px;
  }

  .berry_about .options {
    flex-direction: column;
  }

  .page_top .graphic {
    width: 119px;
    height: 83px;
    align-self: flex-start;
  }

  .catalog_cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .about_top {
    flex-direction: column;
  }

  .about_top .top_img {
    width: 100%;
    height: 400px;
  }

  .about_text.__top {
    max-width: 100%;
    margin-top: 20px;
  }

  .about_middle {
    padding-left: 40px;
  }
  
  .about_bottom {
    flex-direction: column;
    gap: 40px;
  }

  .about_bottom .map_wrap {
    width: 100%;
  }

  .about_bottom .graphic {
    right: -90px;
  }

  .about_bottom .big {
    width: 100%;
  }

  .product_card {
    display: flex;
    flex-direction: column-reverse;
  }

  .product_card .images {
    margin-top: 30px;
  }

  .product_card .info {
    max-width: 100%;
  }

  .product_card .images .controls {
    display: flex;
    gap: 60px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }

  .product_card .images .slider_ctl {
    position: initial;
  }

  .product_card .images .slider_ctl {
    transform: none;
  }

  .product_card .images .slider_ctl svg circle {
    display: none;
  }
}

@media (max-width: 850px) {
  .about_middle {
    flex-direction: column;
  }

  header .list {
    display: none;
  }

  header .login {
    margin: 0;
  }

  .mobile_menu_open {
    display: block;
  }
}

@media (max-width: 780px) {

  /* header {
    padding-top: 15px;
  } */

  .page_top .heading {
    font-size: 26px;
    line-height: normal;
    align-self: flex-end;
  }

  .page_top .heading.__berry_offset {
    margin-bottom: 0;
  }

  /* header .cart.__float {
    display: block;
    position: fixed;
    right: 10px;
    top: 100px;
    background-color: #FFF;
    width: 52px;
    height: 52px;
    display: flex;
    align-self: start;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    flex-shrink: 0;
    z-index: 2;
  } */

  /* .page_top .cart {
    display: block;
    background-color: #FFF;
    width: 52px;
    height: 52px;
    display: flex;
    align-self: start;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    flex-shrink: 0;
  } */

  /* .cart .item_counter {
    top: unset;
    right: 0px;
    bottom: 1px;
  } */
  .page_top {
    gap: 10px;
  }

  .catalog_cards .card .more_btn {
    display: none;
  }

  .page_top.__no_graphic {
    margin-top: 50px;
  }

  .product_card .name {
    margin-right: 50px;
  }

  .product_info .reasons_box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 660px) {
  header {
    border-bottom: 8px solid #EAEAEA;
  }

  header .likes svg {
    width: 20px;
    height: 17.093px;
  }

  header .login {
    font-size: 10px;
    padding: 6px 9px;
  }

  header .right {
    gap: 20px;
  }

  header .cart {
    width: 23.077px;
    height: 19.948px;
  }

  header .cart .item_counter {
    bottom: unset;
    top: 0;
    right: -7px;
    font-size: 10px;
    height: 8px;
    min-width: 8px;
    padding: 4px 3px;
  }

  .content-wrap {
    padding-left: 10px;
    padding-right: 10px;
  }

  .index_top .banner {
    margin-top: 25px;
  }

  .index_top .banner .graphic {
    width: 186.333px;
    height: 111.8px;
    bottom: -35px;
  }

  .index_top .banner .img {
    height: 160px;
  }

  .index_top header {
    padding-top: 15px;
  }

  header .logo {
    height: 33px;
    width: auto;
    object-fit: contain;
  }

  .index_top .heading {
    padding-bottom: 24px;
    padding-top: 57px;
    font-size: 24px;
    line-height: 26px;
  }

  .index_content .block .title {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 5px;
    margin-top: 0;
  }

  .index_content .block .title br {
    display: none;
  }

  .index_content .block .about {
    font-size: 14px;
    line-height: 20px;
  }

  .index_content .block .about br {
    display: none
  }

  .index_content .block {
    padding: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
  }

  .index_content .block.__wide {
    grid-template-columns: 1fr 102px;
    gap: 15px;
  }

  .index_content .block .img {
    height: 164px;
    width: 100%;
  }

  .index_content .block .btn {
    width: 127px;
    height: 35px;
    font-size: 14px;
    margin-top: 32px;
  }

  /* .main_footer {
    display: grid;
    grid-template-columns: 1fr 85px;
  }

  .main_footer .socials {
    grid-row: 1;
    grid-column: 2;
  } */

  .big_cards .card {
    gap: 13px;
    padding: 20px;
    padding-bottom: 28px;
  }

  .big_cards .card .img {
    height: 165px;
  }

  .big_cards .card .title {
    font-size: 20px;
    line-height: 102.2%;
  }

  .big_cards .card .right {
    grid-template-columns: 1fr 90px;
  }

  .big_cards .card .info {
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px;
  }

  .big_cards .card .sale_start {
    max-width: 100%;
    width: 100%;
    font-size: 14px;
    min-height: 35px;
    height: fit-content;
    padding: 10px;
  }

  .big_cards .card .info.__bottom {
    font-size: 12px;
    line-height: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .big_cards .card .price {
    font-size: 20px;
    background-size: 10px auto;
    background-position: right bottom 4.5px;
    padding-right: 12px;
  }

  .big_cards .card .link {
    font-size: 14px;
  }

  .big_cards .cart_ctl .spinbox {
    padding: 8px 10px;
    gap: 7px;
    grid-column: 1;
    width: fit-content;
    margin-left: auto;
  }

  .big_cards .cart_ctl .spinbox .btn {
    font-size: 14px;
  }

  .product_card .cart_ctl .spinbox .btn {
    font-size: 18px;
    font-weight: 500;
  }

  .big_cards .cart_ctl .spinbox .input {
    font-size: 14px;
    line-height: 14px;
    width: 40px;
  }

  .big_cards .cart_ctl .add {
    width: 109.754px;
    height: 58px;
    width: 100%;
    height: 35px;
    padding: 10px;
    font-size: 14px;
    max-width: 127px;
  }

  .berry_about .heading {
    font-size: 28px;
  }

  .berry_about .text.__top {
    font-size: 16px;
  }

  .sort_toggle_line {
    gap: 14px 24px;
  }

  .sort_toggle_line .toggle {
    font-size: 16px;
  }

  .sort_toggle_small {
    margin-top: 10px;
    gap: 5px;
    flex-wrap: wrap;
  }

  .sort_toggle_small .toggle {
    padding: 8px 10px;
  }

  .catalog_cards {
    margin-top: 20px;
    gap: 10px;
  }

  .catalog_cards .card {
    padding: 17px 14px;
  }

  .catalog_cards .card .img {
    height: 150px;
  }

  .catalog_cards .card .name {
    font-size: 16px;
    margin-top: 10px;
  }

  .catalog_cards .card .info {
    font-size: 12px;
  }

  .catalog_cards .card .price {
    font-size: 16px;
  }

  .about_top .top_img {
    height: 221px;
  }

  .about_top {
    margin-top: 23px;
    gap: 18px;
  }

  .about_text.__top {
    margin-top: 0;
  }

  .about_middle {
    margin-top: 41px;
  }

  .about_middle .card .img {
    height: 90px;
  }

  .about_middle .card .about_text {
    margin-top: 0;
  }

  .about_bottom {
    padding-top: 40px;
    margin-bottom: 40px;
  }

  .about_bottom .bigger {
    font-size: 36px;
  }

  .about_bottom .big {
    font-size: 24px;
  }

  .about_text {
    font-size: 16px;
  }

  .about_bottom .graphic {
    width: 127px;
    height: 192px;
    right: -45px;
    top: -40px;
  }

  .about_bottom .socials {
    margin-top: 20px;
  }

  .product_card .name {
    font-size: 26px;
    line-height: normal;
    margin-bottom: 20px;
  }

  .product_card .price {
    font-size: 30px;
    line-height: 102.2%;
  }

  .product_card .size_label {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .product_card .cart_ctl .spinbox {
    padding: 10px 10px;
    height: 14px;
    gap: 7px;
    font-size: 14px;
  }

  .product_card .cart_ctl .add {
    width: fit-content;
    height: 58px;
    font-size: 16px;
    height: fit-content;
  }

  .product_card .like_btn svg {
    width: 26px;
    height: 22.221px;
  }

  .product_card {
    margin-top: 21px;
    margin-bottom: 30px;
  }

  .top_link {
    margin-top: 46px;
  }

  .yagoda_map_wrap .inner {
    margin-top: 45px;
    margin-bottom: 33px;
    height: 398px;
  }

  .mobile_menu {
    padding: 10px;
    padding-top: 15px;
  }

  .mobile_menu .logo {
    height: 33px;
  }

  .index_content .block .left {
    align-items: center;
  }

  .cart_ctl {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cart_ctl .spinbox .input {
    flex-grow: 1;
  }

  /* .product_card .cart_ctl .spinbox .input {
    font-size: 14px;
  } */

  .cart_ctl .add {
    width: 100%;
    grid-column: 2;
    padding: 10px 25px;
  }

  .berry_about .secondary {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .page_top .graphic.__berry {
    width: 119px;
    height: 83px;
    margin-bottom: 23px
  }

  .product_info .reasons_box .number {
    font-size: 40px;
  }

  .product_info .reasons_box .text {
    font-size: 14px;
    line-height: 18px;
  }

  .product_info .reasons_box {
    padding: 20px 30px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .product_info .title {
    font-size: 26px;
    line-height: 30px;
  }

  .product_info .video_embed {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .reviews .title {
    font-size: 26px;
  }

  .reviews .top .link_all {
    display: none;
  }

  .reviews .link_all.__mobile {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 14px;
    font-size: 14px;
    margin-top: 30px;
  }

  .reviews {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .reviews .top {
    margin-bottom: 20px;
  }

  .product_card .text {
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
  }

  .product_card .cart_ctl {
    margin-top: 20px;
    display: flex;
  }

  footer .socials {
    gap: 22px;
  }
}

@media (max-width: 450px) {
  .catalog_cards .card .img {
    height: 78px;
  }

  .product_card .images .slide {
    height: 250px;
  }
}

@media (max-width: 350px) {
  .product_card .images .slide {
    height: 195px;
  }
}